@charset "utf-8";
/* CSS Document */

SetList {
    background-color: #d0e0e2;
}

Artists {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: center;
    display: block;
    margin-bottom: 5px;
    margin-left: 0;
}

Title {
    font-size: 25px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    margin-bottom: 30px;
    margin-left: 0;
}


Primary_Genre {
    font-size: 20px;
    text-align: center;
    display: block;
    margin-bottom: 5px;
    margin-left: 0;
}

Secondary_Genre {
    font-size: 20px;
    text-align: center;
    display: block;
    margin-bottom: 30px;
    margin-left: 0;
}

Year {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    text-align: center;
    display: block;
    margin-bottom: 30px;
    margin-left: 0;
}